{% extends "main.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static "css/home/home_tabs.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "css/home/home.css" %}" type="text/css" />
{% endblock head %}
{% block content %}
    <div class="tabs container">
        <ul class="home_tabs">
            <li>
                <a class="home_tab new_episodes" href="{% url 'home' 'new-episodes' %}">New Episodes</a>
            </li>
            <li>
                <a class="home_tab not_seen active" href="{% url 'home' 'not-seen' %}">Not Seen</a>
            </li>
            <li>
                <a class="home_tab can_rewatch" href="{% url 'home' 'can-rewatch' %}">Can Rewatch</a>
            </li>
        </ul>
    </div>
    {% if combined_content|length == 0 %}
        <div class="no_items_container">
            <div class="no_items_inner_container">
                <div class="no_items">
                    <h2>No unseen content.</h2>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="item_container">
        {% for content in combined_content %}
            {% if content.unacquired == False %}
                {% if content.type == "Tv-Show" %}
                    <div class="item_outer">
                        <div id="entry-tv-show-{{ content.id }}" class="item_inner">
                            <a href="{% url 'tv_show_detail' content.id content.unique_id %}">
                                <img src="{{ content.poster_file.url }}" alt="" />
                            </a>
                            <div class="info_container">
                                <div class="main_info_container">
                                    <h2>
                                        <a href="{% url 'tv_show_detail' content.id content.unique_id %}">{{ content.name }}</a>
                                    </h2>
                                    <a class="btn-delete" value="{{ content.id }}" content-type="tv-show">
                                        <i class="trash-can-svg">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
                                            </svg>
                                        </i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="item_outer">
                        <div id="entry-movie-{{ content.id }}" class="item_inner">
                            <a href="{% url 'movie_detail' content.id content.unique_id %}">
                                <img src="{{ content.poster_file.url }}" alt="" />
                            </a>
                            <div class="info_container">
                                <div class="main_info_container">
                                    <h2>
                                        <a href="{% url 'movie_detail' content.id content.unique_id %}">{{ content.name }}</a>
                                    </h2>
                                    <a class="btn-delete" value="{{ content.id }}" content-type="movie">
                                        <i class="trash-can-svg">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
                                            </svg>
                                        </i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                {% if content.type == "Tv-Show" %}
                    <div class="item_outer">
                        <div id="entry-tv-show-{{ content.id }}" class="item_inner">
                            <a href="{% url 'unacquired_content_detail' 'tv-show' content.id content.unique_id %}">
                                <img src="{{ content.poster_file.url }}" alt="" />
                            </a>
                            <div class="info_container">
                                <div class="main_info_container">
                                    <h2>
                                        <a href="{% url 'unacquired_content_detail' 'tv-show' content.id content.unique_id %}">{{ content.name }}</a>
                                    </h2>
                                    <a class="btn-delete" value="{{ content.id }}" content-type="tv-show">
                                        <i class="trash-can-svg">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
                                            </svg>
                                        </i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="item_outer">
                        <div id="entry-movie-{{ content.id }}" class="item_inner">
                            <a href="{% url 'unacquired_content_detail' 'movie' content.id content.unique_id %}">
                                <img src="{{ content.poster_file.url }}" alt="" />
                            </a>
                            <div class="info_container">
                                <div class="main_info_container">
                                    <h2>
                                        <a href="{% url 'unacquired_content_detail' 'movie' content.id content.unique_id %}">{{ content.name }}</a>
                                    </h2>
                                    <a class="btn-delete" value="{{ content.id }}" content-type="movie">
                                        <i class="trash-can-svg">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
                                            </svg>
                                        </i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}
{% block script %}
    <script src="{% static 'js/home.js' %}" type="text/javascript"></script>
{% endblock script %}
