<div class="modal-shadow"></div>
<!--  delete confirm modal  -->
<div id="confirm-modal" class="modal">
    <div class="modal-inside-container">
        <div class="modal-content-background">
            <div class="modal-content">
                <span class="action-close">×</span>
                <h2>Are You Sure You Want To Delete The Task?</h2>
                <div>
                    <button class="btn btn-lightgray action-cancel">Cancel</button>
                    <button class="btn btn-red action-confirm">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
