/** @format */

.stats_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats_outer_container {
  display: grid;
  margin-top: 75px;
  width: 100%;
  max-width: 1000px;
  gap: 25px;
  padding: 25px;
}

.stats_inner_container {
  display: flex;
  gap: 25px;
}

.title_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(50, 50, 50);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 6px 16px 0px rgb(0 0 0 / 40%);
}

.title {
  background-color: rgb(40, 40, 40);
  width: 100%;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title h1 {
  width: 100px;
}

.stats_info_container {
  display: grid;
  gap: 25px;
  width: 45%;
  height: 700px;
}

.stats_info_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(50, 50, 50);
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 6px 16px 0px rgb(0 0 0 / 40%);
}

.stats_info {
  background-color: rgb(40, 40, 40);
  border-radius: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.data-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 45px;
  margin: 40px 0 40px 0;
}

.stats_info {
  color: rgb(160, 160, 160);
  font-weight: 900;
  font-size: 25px;
}

.stats_info .data {
  color: rgb(255, 255, 255);
  font-weight: 900;
}

.form_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(50, 50, 50);
  border-radius: 8px;
  padding: 10px;
  width: 545px;
  box-shadow: 0px 6px 16px 0px rgb(0 0 0 / 40%);
}

.form {
  background-color: rgb(40, 40, 40);
  border-radius: 15px;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
}

input:not(input[type="submit"]) {
  all: unset;
}

.labels {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  text-align: right;
  width: 10%;
  margin-right: 25px;
  font-size: 25px;
  font-weight: 900;
  color: rgb(135, 135, 135);
  gap: 60px;
}

.forms {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  font-weight: 900;
  font-size: 25px;
  gap: 58px;
  margin-left: 25px;
}

select {
  outline: none;
  border: none;
  padding: 5px;
  background-color: rgb(50, 50, 50);
  color: white;
  transition: all 115ms ease-in-out;
}

select option {
  background-color: rgb(50, 50, 50);
  color: white;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  display: none;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

select {
  color-scheme: dark;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
}

.background {
  background-color: rgb(50, 50, 50);
  width: 100%;
  border-radius: 5px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:valid,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-transition-delay: 99999s;
  -webkit-text-fill-color: white;
}

.plus_svg {
  width: 25px;
  display: flex;
  transition: fill 100ms ease-in-out, transform 350ms ease-in-out;
}

.svg-animation {
  transform: rotate(405deg);
}

.add_button {
  fill: white;
  position: absolute;
  top: 15px;
  right: 15px;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.add_button:hover {
  fill: rgb(99, 160, 219);
}
.add_button:active {
  fill: rgb(120, 180, 240);
}

.save_button_container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_list_title {
  font-weight: 900;
  color: rgb(90, 90, 90);
  font-size: 20px;
  position: absolute;
  top: -12px;
  left: 225px;
}

.form_list_title.add {
  left: 200px;
}

.drives {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 0.8px;
}

.drive {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.drive_info {
  padding: 10px;
}

.drives.hide {
  display: none;
}

.drive_path {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  position: absolute;
  top: 40px;
  background-color: rgb(50, 50, 50);
  padding: 6px;
  border-radius: 5px;
}

.drive_info:hover + .drive_path {
  opacity: 1;
}

.btn-delete {
  width: 16px;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.btn-delete svg {
  transition: fill 80ms ease-in-out !important;
}

.form:hover .btn-delete,
.form:hover .add_button {
  opacity: 1;
}

.drive_name_info {
  color: rgb(160, 160, 160);
}

.content_count {
  position: relative;
}

.stat-tool-tip {
  position: absolute;
  top: 35px;
  left: 0;
  width: max-content;
  opacity: 0;
  color: white;
  transition: opacity 300ms ease-in-out;
  background-color: rgb(50, 50, 50);
  padding: 5px;
  border-radius: 6px;
  font-size: 21px;
}

.average_size {
  position: absolute;
  top: -40px;
  left: 0;
  width: max-content;
  opacity: 0;
  color: white;
  transition: opacity 300ms ease-in-out;
  background-color: rgb(50, 50, 50);
  padding: 5px;
  border-radius: 6px;
  font-size: 21px;
}

.colored-svg {
  display: flex;
  align-items: center;
  fill: rgb(160, 160, 160);
  font-weight: 900;
  font-size: 25px;
  gap: 12px;
}

.row {
  display: flex;
  gap: 35px;
}

.content_count:hover .average_size,
.colored-svg:hover .stat-tool-tip {
  opacity: 1;
}

.content-container {
  position: relative;
}

.content-container:hover .stat-tool-tip {
  opacity: 1;
}

.drive-path-color {
  color: rgb(130, 130, 130);
  font-style: italic;
}

.stats_info h2 {
  text-align: center;
  margin: 0;
  color: rgb(90, 90, 90);
  font-size: 30px;
}

.not-watched,
.watched,
.seasons {
  display: flex;
  align-items: center;
  fill: rgb(160, 160, 160);
  font-weight: 900;
  font-size: 25px;
  gap: 10px;
}

.icon-container {
  display: flex;
  gap: 35px;
}

/* add drive transition effect */
.form {
  overflow: hidden;
}

.form_inner {
  position: absolute;
  left: 600px;
  top: 10px;
  font-weight: 900;
  color: rgb(90, 90, 90);
  font-size: 20px;
}

.form_inner h2 {
  position: absolute;
  top: -195px;
  left: 85px;
}

form {
  left: 15px;
  position: absolute;
  transition: left 300ms ease-in-out;
}

.add-drive-move {
  left: -490px;
}

.form_list_title {
  position: absolute;
  top: -190px;
  left: 200px;
}

/* tab switcher */

.arrow {
  fill: white;
  font-size: 40px;
  margin: 0 25px 0 25px;
  transition: fill 50ms ease-in-out;
}

.arrow-right {
  float: right;
}

.title_container:hover .clickable-arrow-region.active {
  opacity: 1;
  pointer-events: all;
}

.clickable-arrow-region.active:active .arrow {
  fill: rgb(185, 185, 185);
}

.clickable-arrow-region {
  width: 100%;
  padding: 18px;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  transition: opacity 200ms ease-in-out;
}

.stats_inner_container {
  position: relative;
  left: 0;
  transition: left 500ms ease-in-out;
}

.show-length-container {
  background-color: rgb(50, 50, 50);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 6px 16px 0px rgb(0 0 0 / 40%);
  position: absolute;
  left: 190vh;
  width: 98%;
  height: 100%;
}

.go-to-show-lengths {
  left: -190vh;
}

.show-length {
  background-color: rgb(40, 40, 40);
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

main {
  overflow: hidden;
}

/* show length */

.show-length form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 97%;
  gap: 25px;
  height: 100px;
}

.show-length form div:not(.filter-container) {
  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 5px;
  background-color: rgb(50, 50, 50);
  padding: 8px;
  border-radius: 8px;
  transition: color 125ms ease-in-out;
}

.show-length form div:hover {
  color: rgb(185, 185, 185);
}

.show-length form div:hover svg {
  transition: fill 105ms ease-in-out;
}

.show-length form div:hover svg {
  fill: rgb(185, 185, 185);
}

.show-length form div:active {
  color: rgb(225, 225, 225);
}

.show-length form div:active svg {
  fill: rgb(215, 225, 225);
}

.show-length form svg {
  fill: white;
  font-size: 50px;
}

.flip-svg {
  rotate: 180deg;
}

.show-length ul {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 25px;
}

.show-length .input {
  background-color: rgb(50, 50, 50);
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-weight: 500;
  font-size: 18px;
}

.show-length li {
  padding: 8px;
  color: rgb(170, 170, 170);
  border-radius: 2px;
  background-color: rgb(50, 50, 50);
  font-weight: 500;
}

.table-container {
  max-height: 82%;
  top: 100px;
  position: relative;
  overflow-y: scroll;
  border-radius: 15px;
  border: 4px solid rgb(35, 35, 35);
  margin: 0 auto;
  width: 95%;
  padding: 0;
}

.show-length table {
  position: relative;
  text-align: center;
  height: 95%;
  width: 100%;
}

.show-length tr {
  height: 10%;
  max-height: fit-content;
}

.show-length tr:nth-of-type(odd) {
  background-color: rgb(50, 50, 50);
  color: rgb(225, 225, 225);
}

.show-length tr td:first-of-type {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.show-length tr td:last-of-type {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.show-length td {
  height: fit-content;
  padding: 8px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  text-align: left;
}

.tr-remove {
  display: none;
}

.no-results {
  border-radius: 8px;
  border: 8px solid rgb(50, 50, 50);
  margin: 0 auto;
  width: 70%;
  width: fit-content;
  position: relative;
  top: 100px;
}

.no-results div {
  text-align: center;
  padding: 15px;
  border-radius: 8px;
}

.no-results span {
  color: white;
  border-radius: 15px;
  font-size: 25px;
  font-weight: 700;
}

.hide-overflow-y {
  overflow-y: hidden;
}

.exclude-filter-tags {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  max-width: 215px;
  top: 77px;
  z-index: 10;
  margin: 0;
  margin-left: 5px;
  background-color: rgb(40, 40, 40);
  outline: 4px solid rgb(35, 35, 35);
  border-radius: 8px;
  gap: 8px !important;
  overflow: scroll;
  max-height: 150px;
  position: absolute;
  opacity: 0;
  transition: opacity 125ms ease-in-out;
}

.exclude-filter-tags li {
  margin: 5px;
  border-radius: 5px;
}

.tags-opacity {
  opacity: 1;
}

/* remove x from input[type="search"] */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.hide {
  display: none;
}
